asgiref
certifi
cffi
charset-normalizer
coreapi
coreschema
cryptography
defusedxml
Django
django-filter
django-templated-mail
djangorestframework
djangorestframework-simplejwt
djoser
drf-extra-fields
flake8
idna
importlib-metadata
itypes
Jinja2
Markdown
MarkupSafe
mccabe
oauthlib
Pillow
psycopg2-binary
pycodestyle
pycparser
pyflakes
PyJWT
python-dotenv
python3-openid
pytz
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
uritemplate
urllib3
zipp
gunicorn